<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        
        <style>
            *{
                margin: 0;
                padding: 0;
            }
           
            label{
                font-size: 1.2rem;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
             .form-control {
                border-radius: 50px;
                border: 1px solid black;
            }
          
            .main-box{
                margin-top: 9vh;
                border-radius: 30px;
                box-shadow: 0px 2px 3px 2px red; 
                box-shadow: 3px 5px 7px 1px black;
                padding: 30px;
            }
           .background-image{
            background-image: url('/image/loginimage.webp');
             background-size: cover; 
             background-position: center;
             height: auto;
           
           }
           .background-opacity{
            background-color:  #dc3545;
            opacity: 40%;
            height:60vh;
           }
           .red-box-content{
            color:whitesmoke;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 60vh;
            color: whitesmoke;
           }
           body{
            background-color: whitesmoke;
           }
           .onhover:hover{
            background-color:red;
           }
        </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light " style="position: sticky;top: 0px;background-color:black;" >
        <div class="container-fluid">
          <!-- <a class="navbar-brand" href="#">RDEC</a> -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-2">
              <li class="nav-item">
                <a class="nav-link active onhover" aria-current="page" href="#"  style="color: white;font-size: 1.2rem;"  >Home</a>
              </li>
              <li class="nav-item"></li>
                <a class="nav-link active onhover" aria-current="page" href="#"  style="color: white;font-size: 1.2rem;">Aboutus</a>
              </li>
              <li class="nav-item"></li>
                <a class="nav-link active onhover" aria-current="page" href="#"  style="color: white;font-size: 1.2rem;">Contact</a>
              </li>
             
              
             
            </ul>
            <form class="d-flex">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0" >
                    <li class="nav-item" >
                        <a class="nav-link btn onhover " href="/" style="color: white;margin-right: 20px;font-size: 1.2rem;" >Login</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link btn btn-warning" href="/signup" style="color: white;font-size: 1.2rem;" >Signup</a>
                      </li>
                      

                    </ul>
               
            </form>
          </div>
        </div>
      </nav>